.container{
    margin-top: 123px;
}
.seriesContainer{
    display: flex;
    flex-direction: column;
    padding: 34px;
    background-repeat: no-repeat;
    background-size:cover;
    height: 77.7vh;
    align-items: center;
    justify-content: center;
}


h1{
    font-size: 28px;
    font-weight: 800;
    color: white;
}

p{
    font-size: 18px;
    color: rgb(233, 7, 7);
    font-weight: bold;
}

span{
    color: white;
}


@media only screen and (max-width:340px){
.container{
    margin-top: 259px;
}
}