.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.Title h3{
    font-size: 24px;
    color: black;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.information{
    display: flex;
    background-color: brown;
    flex-direction: column;
    padding: 27px;
}

