.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    height: 50px;
    position: relative;
}


input{
    width: 50%;
    height: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #000000;
    background: #fffefe;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #ffffff
                inset -5px -5px 10px #fff7f7
    ;
}
