nav{
    width: 100%;
    height: 12vh;
    background-color: rgb(102, 4, 4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


h1{
    font-size: 23px;
    color: rgb(185, 185, 185);
    margin-left: 12px;
  }

  p{
      color: rgb(185, 185, 185);
  }
  
  