.App {
  text-align: center;
  width: 100%;
  min-height: 150vh;
  height: 100vh;
  background-color: #000000;
}

body{
  margin: 0;
  padding: 0;
}


@media only screen and (max-width:340px){
.App{
  min-height: 280vh;
}
  }